.content-head h2 i {
  margin-right: 15px;
  cursor: pointer;
}

.main-content .img-wrapper img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.recenzija {
  display: flex;
  border-bottom: 1px solid black;
  padding: 20px;
}

.recenzija .usr-image-wrapper {
  margin-right: 20px;
}

.recenzija .usr-image-wrapper img {
  max-width: 70px;
}

.recenzija .recenzija-wrapper .username {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.recenzija .recenzija-wrapper .rating .fas.fa-star {
  color: yellow;
}
